/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App {
  text-align: center;
} */

/* ------------- RESET AND BODY EFFECTS -------------  */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


body {
  background: #3B6064;
  color: #FFFEF7;
  /* color: #f1efe3; */

}

/* ------------- NAV BAR AND TOP OF PAGE -------------  */
/* header for top of page */
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/Sedona.jpg);
  background-size: cover;
  background-position: center;
}

/* container */
.container {
  padding: 10px 10%;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*! Logo in Nav Bar- Will require update to replace h1 tag*/
.logo {
  width: 140px;

}

/* nav & list */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

/* nav ul li a - adjusted font color for group */
nav ul li a {
  color: #F4FFF5;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

/* AFTER effect */
nav ul li a::after {
  content: '';
  /* width: 100%; */
  width: 0;
  height: 3px;
  background: #3B6064;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

/* Reaction effect */
nav ul li a:hover::after {
  width: 100%;

}

/* Header text and page titles */
.header-text {
  margin-top: 20%;
  font-size: 30px;
}

/* header text and h1 */
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

/* with span  */
.header-text h1 span {
  color: #eec0a7;
}

/* ------------- ABOUT ME SECTION -------------  */

#about {
  padding: 80px 0;
  color: #FFFEF7;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Left column containing image */
.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}


/* Right column containing Text */
.about-col-2{
  flex-basis: 60%;

}

/* about me title */
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #F1EFE3;
}

/* tab titles & labels */
.tab-titles{
  display: flex;
  margin: 20px 0  40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

/* tab links effects */
.tab-links::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: #eec0a7;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

/* tab contents - switch effects based on selected tab */

